.image-dl-container {
    position: relative;
    .download-button {
        display: none;

        position: absolute;
        top: 0;
        right: 0;

        margin: 16px;
    }
    &:hover {
        .download-button {
            display: flex;
        }
    }
}
