table {
    border-spacing: 0px;
    th {
        text-align: start !important;
        padding-bottom: 8px;

        color: $accent-blue;
        padding-left: 8px;
    }
    td {
        border-top: solid 1px $divider;
        padding: 8px 0px;

        text-align: start !important;
        padding-left: 8px;
    }
    tr:first-child {
        > td {
            border-top: none;
        }
    }
    tr {
        td:first-child,
        th:first-child {
            padding-left: 0px;
        }
    }
}