@import "theme";
@import "z-index";

@import "html-overrides";
@import "staff-grid";
@import "table";
@import "embed";
@import "tutorial-sidenav";
@import "image-download";
@import "ship";

@import "components/image-map-editor";
@import "components/post-generator";
@import "components/text-area";
@import "components/bbcode-element-wrapper";
@import "components/list-editor";
@import "components/download-button";
@import "components/page-listing-item";
@import "components/page-listing-grid";

@import "views/post-generator";
@import "views/homepage";

:root {
    --sidenav-width: 200px;
}

/* images */
img {
    max-width: 100%;
    display: block;
    margin: 8px 0px;
}
.img-text-right {
    float: right;
    margin-left: 16px;
}
.img-text-left {
    float: left;
    margin-right: 16px;
}
.image-row {
    max-width: 100%;
    display: flex;
    gap: 8px;
    img {
        max-width: 100%;
        min-width: 50px;
        object-fit: contain;
    }
}
