.page-listing-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin: 12px 0;

    &--tutorial-sidenav {
        grid-template-columns: 1fr;
        scrollbar-color: scale-color($primary, $lightness: 5%) scale-color($primary, $lightness: -20%);
        overflow-y: auto;
        margin: 0;
    }
}

h1,
h2 {
    & ~ .page-listing-grid {
        color: red !important;
    }
}
